<footer class="footer py-4 px-4">
	<div class="container-fluid">
		<div class="row align-items-start row">
			<div class="col-lg-4">
      	<h4>Adresse:</h4>
      	<p class="small" >
        	Jenaer Kanu- und Ruderverein e.V.<br>
					Burgauer Weg 13<br>
					07745 Jena
      	</p>
    	</div>
	    <div class="col-lg-4">
      	<p class="small">
        	Powered by <a href="http://www.typo3.org" style="color: #FF8700 ">Typo3</a>.
      	</p>
				<p class="small">
					©2017 Jenaer Kanu- und Ruderverein e.V.
				</p>
    </div>
	  <div class="col-lg-4">
					<ul class="nav justify-content-end navbar-inverse" id="footerNavigation">
							<f:cObject typoscriptObjectPath="lib.footernav" /> 
					</ul>
		</div>
	 </div>
	</div>
</footer>