<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="polpoNav">
	<div class="container">
		<f:cObject typoscriptObjectPath="lib.homelink"/>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#polpoNavigation" aria-controls="polpoNavigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="polpoNavigation">
			<ul class="navbar-nav ml-auto">
				<f:cObject typoscriptObjectPath="lib.mainnavLeft" /> 
			</ul>
		</div>
	</div>
</nav>

<!-- Page Header -->
<f:cObject typoscriptObjectPath="lib.headertag"/>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="page-heading">
					<h1>JKRV e.V.</h1>
					<span class="subheading">Wassersport - Einfach Paradiesisch</span>
				</div>
			</div>
		</div>
	</div>
</header>